

body, html {
    height: 100%;
    margin: 0px;
    cursor: none;
}
#container {
    height: 100%;
    width: 100%;
   
    background: linear-gradient(to top, rgb(238, 140, 13) 0%,rgb(234, 248, 220));
    position: relative;
    
}
#moving {
    position: absolute;
    left: 100px;
    top: 100px;
    border-radius: 100px;
    background: linear-gradient(to bottom, rgb(109, 146, 167) 0%,rgb(7, 32, 44));
    opacity: 0.8;
    width: 200px;
    height: 200px;
}

#pointer {
    position: absolute;
    left: 300px;
    right: 20px;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(136, 109, 167) 0%,rgb(32, 7, 44));
  
    width: 20px;
    height: 20px;
}
.myCustom {
    background: linear-gradient(to bottom, rgba(233,246,253,1) 0%,rgba(211,238,251,1));
    width: 300px;
    height: 200px;
    transition: width .5s, height .5s;
    border-radius: 25px;
    
}

.myCustom:hover {
    width: 400px;
    height: 210px;
}
