
body, html {
    height: 100%;
    margin: 0px;
    cursor: none;
}

#container {
    height: 100%;
    width: 100%;
   
    background: linear-gradient(to top, rgb(238, 140, 13) 0%,rgb(234, 248, 220));
    position: relative;
    
}
.fixedPoint {
    position: absolute;
    height: 14px;
    width: 14px;
    border-radius: 7px;
    background: linear-gradient(to bottom, rgb(2, 3, 20) 0%,rgb(0, 0, 0));
}

.moving {
    position: absolute;
    border-radius: 100px;
    background: linear-gradient(to bottom, rgb(109, 146, 167) 0%,rgb(7, 32, 44));
    opacity: 0.8;
    width: 200px;
    height: 200px;
}

.pointer {
    position: absolute;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(136, 109, 167) 0%,rgb(32, 7, 44));
    width: 20px;
    height: 20px;
}

